<h1>My Bookings</h1>

<h2>Active Bookings</h2>
<% @bookings.each do |b| %>
  <% if b.pending? || b.accepted? %>
    Vehicle: <%= link_to b.vehicle.title, booking_path(b) %> |
    Start: <%= b.start_date %> |
    End: <%= b.end_date %> |
    Status: <%= b.status.capitalize %> |
    Price: <%= b.total_price %> |
    <%= link_to "Cancel", cancel_booking_path(b), method: :patch, data: { confirm: "Are you sure?" } %>
    <br>
  <% end %>
<% end %>

<h2>Completed Bookings</h2>
<% @bookings.each do |b| %>
  <% if b.completed? %>
    Vehicle: <%= link_to b.vehicle.title, booking_path(b) %> |
    Start: <%= b.start_date %> |
    End: <%= b.end_date %> |
    Status: Completed |
    Price: <%= b.total_price %>
    <br>
  <% end %>
<% end %>

<h2>Cancelled Bookings</h2>
<% @bookings.each do |b| %>
  <% if b.cancelled? %>
    Vehicle: <%= link_to b.vehicle.title, booking_path(b) %> |
    Start: <%= b.start_date %> |
    End: <%= b.end_date %> |
    Status: Cancelled |
    Price: <%= b.total_price %>
    <br>
  <% end %>
<% end %>
