<li>
  <%# <%= booking.booking_id %>
  <p><%= @booking.start_date %> to <%= @booking.end_date %></p>
  <p><%= @booking.pickup_address %></p>
  <p><%= @booking.dropoff_address %></p>
  <p><%= @booking.total_price %></p>
  <p><%= @booking.status %></p>
  <p><%= @booking.payment_status %></p>
  <p><%= @booking.user_id %></p>
  <p><%= @booking.vehicle.title %></p>
  <%= button_to 'Cancel Booking', bookings_cancel_path(@booking) %>
</li>
