<li>
  <%= @booking.id %>
  <p><%= @booking.start_date %> to <%= @booking.end_date %></p>
  <p><%= @booking.pickup_address %></p>
  <p><%= @booking.dropoff_address %></p>
  <p><%= @booking.total_price %></p>
  <p><%= @booking.status %></p>
  <p><%= @booking.payment_status %></p>
  <p><%= @booking.user_id %></p>
  <p><%= @booking.vehicle.title %></p>
</li>
<div>
  <%= link_to 'Cancel Booking', bookings_cancel_path(@booking.id), method: :patch, Class: 'btn btn-primary' %>
  <%= link_to 'Accept Booking', bookings_accept_path(@booking.id), method: :patch, Class: 'btn btn-primary' %>
    <%= link_to 'Reject Booking', bookings_reject_path(@booking.id), method: :patch, Class: 'btn btn-primary' %>
</div>

  <div class="container chat">
    <h1>Your booking for <%= @booking.vehicle.title %></h1>

    <%= turbo_stream_from "thread_Booking_#{@booking.id}_messages" %>
    <div id="messages" class="messages">
      <% @booking.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <div>

    <%= simple_form_for [@booking, @message],
      html: { class: "d-flex",
              data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>

      <% other_user = current_user == @booking.vehicle.user ? @booking.user : @booking.vehicle.user %>

      <%= f.input :body,
        label: false,
        placeholder: "Message #{other_user.first_name}",
        wrapper_html: { class: "flex-grow-1" } %>

      <%= f.submit "Send", class: "btn btn-primary mb-3" %>

    <% end %>

</div>
