<%# <h1>Vehicles#edit</h1>
<p>Find me in app/views/vehicles/edit.html.erb</p> %>

<%= form_with model: @vehicle, url: vehicle_path(@vehicle), method: :patch do |f| %>
  <%# <%= form_with model: @vehicle do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
  <%= f.label :model %>
  <%= f.text_field :model %>
  <%= f.label :year %>
  <%= f.number_field :year %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :price_per_day %>
  <%= f.number_field :price_per_day %>
  <%= f.label :seats %>
  <%= f.number_field :seats %>
  <%= f.label :transmission %>
  <%= f.text_field :transmission %>
  <%= f.label :fuel_type %>
  <%= f.text_field :fuel_type %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit Class: 'btn btn-primary' %>
<% end %>
