<%#  if user is a vehicle owner, then display his vehicles listing %>
<% if current_user.renter? %>
<%# checking if owner has any vehicles listing %>
    <% if current_user.vehicles.any? %>
      <h3>My Vehicles </h3>
      <ul>
        <%# iterating through each vehicle and displaying %>
        <% current_user.vehicles.each do |vehicle| %>
          <li>
            <%# title links to show page %>
            <strong><%= link_to vehicle.title, vehicle_path(vehicle) %></strong>
          </li>
        <% end %>
        <%# link to add a new vehicle %>
        <%= link_to 'Add New Vehicle', new_vehicle_path, Class: 'btn btn-primary' %>
      </ul>
    <% else %>
    <%# display no vehicles message if owner has no vehicle and link to add new %>
      <p>You haven't listed any vehicles yet. Add your first vehicle!</p>
      <%= link_to 'Add New Vehicle', new_vehicle_path %>
    <% end%>
<%# else display all available vehicles listing for user to select %>
<% else %>
  <ul>
    <% @vehicles.each do |vehicle| %>
      <li>
        <%# title links to show page %>
        <strong><%= link_to vehicle.title, vehicle_path(vehicle) %></strong>
        <p><%= vehicle.address %></p>
      </li>
    <% end %>
  </ul>
<% end %>


<%= link_to "Bookings", bookings_path, class: "btn btn-secondary" %>
