<%= form_with model: @vehicle do |f| %>
  <div class="form-container">
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :brand %>
      <%= f.text_field :brand %>
    </div>
    <div>
      <%= f.label :model %>
      <%= f.text_field :model %>
    </div>
    <div>
      <%= f.label :year %>
      <%= f.number_field :year %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :price_per_day %>
      <%= f.number_field :price_per_day %>
    </div>
      <%= f.label :seats %>
      <%= f.number_field :seats %>
    <div>
      <%= f.label :transmission %>
      <%= f.text_field :transmission %>
    </div>
    <div>
      <%= f.label :fuel_type %>
      <%= f.text_field :fuel_type %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
